if TARGET_MX6SLLKOBOCLARAHD

config SYS_BOARD
	default "mx6sllclarahd"

config SYS_VENDOR
	default "kobo"

config SYS_CONFIG_NAME
	default "mx6sllclarahd"

config IMX_CONFIG
	default "board/kobo/mx6sllclarahd/imximage.cfg"

source "board/kobo/common/Kconfig"
endif
