if TARGET_MX6SLTOLINOSHINE3

config SYS_BOARD
	default "mx6sltolinoshine3"

config SYS_VENDOR
	default "kobo"

config SYS_CONFIG_NAME
	default "mx6sltolinoshine3"

config IMX_CONFIG
	default "board/kobo/mx6sltolinoshine3/imximage.cfg"

source "board/kobo/common/Kconfig"
endif
